      /* Règles de style pour les écrans de toutes tailles */

        /* Placez vos règles CSS communes ici */

        /* Règles de style pour les écrans de taille moyenne et supérieure */
        @media screen and (min-width: 768px) {
            /* Placez vos règles CSS spécifiques aux écrans de taille moyenne et supérieure ici */
            .center-container {
                /* Exemple : centrage horizontal du conteneur */
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }

        /* Règles de style pour les écrans de petite taille */
        @media screen and (max-width: 767px) {
            /* Placez vos règles CSS spécifiques aux écrans de petite taille ici */
            .center-container {
                /* Exemple : centrage vertical du conteneur */
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }