* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}


/* couleur de l'arrier plan */
body {
   background-color: teal;
    background-size: cover;
    color: white;
}

/**************************************************/


/* taille du chiffre  */
#cookie {
    
    width: 200px;
    height: 200px;
    cursor: pointer;
}

#cookie-count {
    font-size: 24px;
    font-weight: bold;
    display: block;
    margin-top: 10px;
}


#cookie-count {
    font-size: 24px;
    font-weight: bold;
    margin-top: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.center-container {
    display: flex;
    flex-direction: column-reverse; /* Inverser l'ordre des éléments en colonne */
    align-items: center;
    flex-direction: column;
}

#cookie-count {
    margin-bottom: 10px; /* Ajouter une marge en bas du nombre */
}



/**************************************************/



.milieu {
    display: flex;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}
.milieu{
    position: fixed;
    bottom: -30%;
    left: 40%;
    text-align: center;
    padding: 20px 0;
}






#cookie {
    margin-right: 10px; /* Ajuster la marge à droite de l'image */
}

#cookie-count {
    margin-left: 10px; /* Ajuster la marge à gauche du nombre */
}

/* table taille image */
.table {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 10%;
    margin: 10px;
}

.table h1{
    margin-bottom: 30px;
    color: rgb(255, 255, 255);

}

.table h2{

    font-size: 15px;
    padding: 5px;

}

.table img {
    width: 120px; /* Remplacez la valeur par la taille souhaitée */
    height: 120px; /* Remplacez la valeur par la taille souhaitée */
    margin: 8px;
    
}


.table div {
    position: relative;
    cursor: pointer;
  }
  
  .table img {
    transition: background-color 0.3s ease;
  }


  


  
  











